<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GraphMindNote</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css">
        .input-border {
            border: 1px solid grey;
            padding: 5px;
        }

        .center {
            margin: auto;
            width: 100%;
            text-align: center;
        }

        #mynetwork {
            width: 1400px;
            height: 800px;
            border: 1px solid lightgray;
        }
    </style>

    <script type="text/javascript" src="vis.js"></script>
    <link href="vis-network.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="nodes.js"></script>

</head>

<body onload="getNodes()">
<div id="content" style="width: 100%">
    <div id="mynetwork" class="center"></div>
    <div class="center">
        <input type="text" placeholder="State should display as placeholder?" class="input-border" style="margin-top: 20px; width: 1400px; height: 40px; font-size: 18px" />
    </div>
</div>
</body>
</html>