<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GraphMindNote</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <style type="text/css">
        #mynetwork {
            width: 1330px;
            height: 920px;
            border: 1px solid lightgray;
            background-color: #222222;
        }

        html {
           background-color: #222222;
        }

        body {
            color: #d3d3d3;
            font: 12pt arial;
            background-color: #222222;
            height: 100%;
        }

        #content {
            background-color: #222222;
        }
    </style>

    <script type="text/javascript" src="handlebars-latest.js"></script>

    <script type="text/javascript" src="vis.js"></script>
    <link href="vis-network.min.css" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css"/>
    <!-- TODO make it offline -->
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="semantic/dist/semantic.min.js"></script>

    <script type="text/javascript" src="nodes.js"></script>

    <!-- TEMPLATES -->
    <script id="feed-search-element" type="text/x-handlebars-template">
        {{#each this}}
        <div class="ui inverted divider"></div>
        <div class="event">
            <div class="label" style="color: grey;">
                {{this.type}}
            </div>
            <div class="content" style="color: grey;">
                {{this.label}}
            </div>
        </div>
        {{/each}}
    </script>
    <!-- TEMPLATES END -->

</head>

<body onload="generateGraph()" onkeypress="bodyKeyPressHandler(event)">
    <!-- RIGHT SIDEBAR  -->
    <div class="ui right wide sidebar inverted visible vertical menu">
        <!-- SEARCH INPUT -->
        <div class="ui inverted fluid icon input" style="margin-top: 10px; margin-right: 5px;">
            <input type="text" placeholder="Search..." id="search_input" onkeydown="searchInputKeyPressHandler(event)" />
            <i class="search icon"></i>
        </div>
        <!-- SEARCH INPUT END-->
        <div class="ui inverted divider"></div>
        <!-- CARD -->
        <div class="ui cards">
            <div id="card" class="card">
                <div class="content">
                    <div class="header"></div>
                    <div class="meta"></div>
                    <div class="description"></div>
                </div>
                <div class="extra content">
                    <div class="ui two buttons">
                        <div id="join-node" class="ui basic green button">Join</div>
                        <div id="remove-node" class="ui basic red button">Remove node</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CARD END -->
        <div class="ui inverted divider"></div>
        <!-- FEED -->
        <div class="ui feed">
            <!-- EVENT -->
            <div id="search_feed_element_container"></div>
            <!-- EVENT END -->
        </div>
        <!-- FEED END -->
    </div>
    <!-- RIGHT SIDEBAR END -->
    <div>
        <div id="content" class="ui grid">
            <div id="mynetwork" class="center"></div>
            <div class="center" style="width: 100%;">
                <div class="ui fluid left labeled input">
                    <input type="text" id="command-line" placeholder="" class="" onkeydown="textInputKeyPressHandler(event)" />
                    <a id="command-line-status" class="ui tag label"></a>
                </div>
            </div>
        </div>

    </div>
    <!-- DELETE NODE CONFIRM MODAL -->
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="trash alternate icon red"></i>
        </div>
        <div class="content center">
            <p>Do you _really_ want to delete this node?</p>
        </div>
        <div class="actions">
            <div id="delete-selected-node" class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                Warning! Permanent Deletion!
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Wait! I'd like to keep it a bit longer! But thanks for asking!
            </div>
        </div>
    </div>
    <!-- DELETE NODE CONFIRM MODAL END-->
</body>
</html>